<div class="formu">
    <div class="row">
        <h4 style="text-align: center" v-if="!isEdit" class="title-nota">Agregar Nota</h4>
        <h4 style="text-align: center" v-else class="title-nota">Editar Nota</h4>
    </div>
    <form class="row input-container" @submit.prevent="saveNota()">
        <div class="col-xs-12">
            <div class="styled-input wide">
                <input type="text" required v-model="nota.title" />
                <label>Titulo</label>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="styled-input">
                <input type="text" required v-model="nota.autor" />
                <label>Autor</label>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="styled-input" style="float: right">
                <input type="text" required v-model="nota.lenguage" />
                <label>Lenguaje</label>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="styled-input wide">
                <vue-editor id="editor" v-model="nota.content" :editorToolbar="defaultToolbar"></vue-editor>
            </div>

        </div>
        <div class="col-xs-12">
            <input type="submit" value="Guardar nota" class="btn-lrg submit-btn" />
        </div>
    </form>
</div>


